service: quiztopia
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  profile: ${env:PROFILE}
  region: eu-north-1
  iam:
    role: ${env:LAMBDA_ROLE}
  deploymentMethod: direct

useDotenv: true

plugins:
  - serverless-esbuild

custom:
  esbuild:
    exclude: []
    minify: true

package:
  individually: true

functions:
  signup:
    handler: src/functions/signup/index.handler
    events:
      - httpApi:
          path: "/api/signup"
          method: POST
  signin:
    handler: src/functions/signin/index.handler
    events:
      - httpApi:
          path: "/api/signin"
          method: POST
  createQuiz:
    handler: src/functions/createQuiz/index.handler
    events:
      - httpApi:
          path: "/api/quiz"
          method: POST
  addQuestion:
    handler: src/functions/addQuestion/index.handler
    events:
      - httpApi:
          path: "/api/quiz/question"
          method: POST
  deleteQuiz:
    handler: src/functions/deleteQuiz/index.handler
    events:
      - httpApi:
          path: "/api/quiz/{quizId}"
          method: DELETE
  getQuiz:
    handler: src/functions/getQuiz/index.handler
    events:
      - httpApi:
          path: "/api/quiz/{quizId}"
          method: GET
  getQuizzes:
    handler: src/functions/getQuizzes/index.handler
    events:
      - httpApi:
          path: "/api/quiz"
          method: GET
  registerPoints:
    handler: src/functions/registerPoints/index.handler
    events:
      - httpApi:
          path: "/api/quiz/{quizId}/scores"
          method: POST
  # getLeaderboard:
  #   handler: src/functions/getLeaderboard/index.handler
  #   events:
  #     - httpApi:
  #         path: "/api/quiz/{quizId}/leaderboard"
  #         method: GET

resources:
  Resources:
    Quiztopia:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Quiztopia
        KeySchema:
          - AttributeName: PK
            KeyType: HASH
          - AttributeName: SK
            KeyType: RANGE
        AttributeDefinitions:
          - AttributeName: PK
            AttributeType: S
          - AttributeName: SK
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
